<h1>All the Students</h1>


<ul>
  <% @students.each do |student| %>
    <li><%= make_link(student.name, student) %> | <%= link_to 'Edit this student', edit_student_path(student) %></li>
  <% end %>
</ul>

<%= make_link 'See all the students', '/students' %>
