<%= make_header(@student.name) %>
<p><%= @student.email %></p>

<p></p>

<%= make_link('See all the students', students_path) %>
<%= link_to 'Delete this student', student_path(@student), {method: 'DELETE', class:'my-link'} %>
